@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid black;
}
.login_page_backDrop {
  background-image: url("../libs/images/nextflixBackgroundImage.jpg");
}
.translate-100 {
  transform: translateX(-55%);
}

.navbar {
  z-index: 99999999;
}

.search_menu {
  max-height: 300px;
  overflow-y: scroll;
}
